body{
  background: #222;
}

.hero-image{
  width: 100%;
  height: 500px;
  background-color: #702560;
}

.image{
 width: 500px;
  height: 300px;
}

.title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
}

.answers {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn{
  background: #02441c;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #fff;
}

.answer-btn {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

.answer-btn.correct {
  background-color: green;
  color: white;
}

.answer-btn.incorrect {
  background-color: red;
  color: white;
}